.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

p{
  font-size: medium;
}

.text{
  width: 60%;
  float: left;
}

.teenagers{
  width: 19%;
  margin-left: 10%;
  margin-top: -9%;
}

.boy{
  float: left;
  width: 18%;
}
