<div class="all">
  
  <!-- Filter posts -->
  <div class="filters">
    <form>

      <!-- Post type -->
      <div class="filter">
        <p>Post Type</p>
        <input (click)="selectFilter($event)" type="checkbox" id="dog" name="dog" value="dog">
        <label for="dog">Dog</label><br>

        <input (click)="selectFilter($event)" type="checkbox" id="cat" name="cat" value="cat">
        <label for="cat">Cat</label><br>

        <input (click)="selectFilter($event)" type="checkbox" id="bunny" name="bunny" value="bunny">
        <label for="bunny">Bunny</label><br>

        <input (click)="selectFilter($event)" type="checkbox" id="chromosome" name="chromosome" value="chromosome">
        <label for="chromosome">+1 Chromosome</label><br>

        <input (click)="selectFilter($event)" type="checkbox" id="asd" name="asd" value="asd">
        <label for="asd">ASD</label><br>

        <input (click)="selectFilter($event)" type="checkbox" id="other" name="other" value="other">
        <label for="other">Other</label><br>
      </div>

      <!-- Between Dates  -->
      <div class="filter">
        <p>Date</p>
        <label for="starting">Starting from</label>
        <input type="date" id="starting" name="starting" style="display: block; margin-bottom: 10px;">

        <label for="ending">Ending with</label>
        <input type="date" id="ending" name="ending" style="display: block">
      </div>

      <!-- City -->
      <div class="filter">
        <p>City</p>
        <input type="checkbox" id="bucharest" name="bucharest" value="bucharest">
        <label for="bucharest">Bucharest</label><br><br>

        <input type="checkbox" id="cluj" name="cluj" value="cluj">
        <label for="cluj">Cluj</label><br><br>

        <input type="checkbox" id="other-city" name="other-city" value="other-city">
        <label for="other-city">Other</label><br><br>
      </div>
    </form>
  </div>


  <!-- Create post-->
  <div class="center">
    <h5>Create Post</h5>
    <div *ngIf="errorMessage !== ''" class="error-message">{{errorMessage}}</div>
    <form [formGroup]="postForm" class="px-4 py-3">
      <div class="form-group">
        <textarea class="form-control" formControlName="description" id="description"
                  placeholder="Description..." maxlength="2000" rows="4" cols="50"></textarea>
      </div>

      <div class="form-group">
        <input #fileInput type="file" accept="image/*" (change)="onFileChanged($event)">
      </div>
      <label for="type">Choose a post type:</label>
      <select (change)="selectType($event)" id="type" name="type" style="display: block; margin-bottom: 10px">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="bunny">Bunny</option>
        <option value="chromosome">+1 chromosome</option>
        <option value="asd">ASD</option>
        <option value="other" selected>Other</option>
      </select>

      <input type="button" (click)="onUpload()" value="Post" class="btn button">
    </form>
  </div>


  <!-- List with posts -->
  <div class="posts">
    <div *ngFor="let post of filteredPosts" class="post">
      <img src="{{post.profilepic}}" class="profile-pic">
      <span class="username" [routerLink]="['profile', post.username]">{{post.username}}</span>
      <span class="date">‧ {{translateTime(post.date)}}</span>

      <div>
        <div *ngIf="isMine(post)" style="float: right; margin-left: 3px">
          <button (click)="post.editMode = true;">Edit</button>
          <button (click)="deletePost(post.id)">Delete</button>
        </div>

        <form>
          <div *ngIf="!post.editMode">
            <p class="description"> {{post.description}} </p>

          </div>
          <div *ngIf="post.editMode">
            <input #newDescription value="{{post.description}}">
            <button (click)="saveDescriptionAfterEdit(post, newDescription.value);">SAVE</button>
          </div>
        </form>

      </div>

      <img [src]="translateImage(post.image)" class="post-image">

    </div>
  </div>

  <div style="height: 50px"></div>
</div>
