.navbar{
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-form{
  margin-left: 10.5%;
  width: 300px;
}

.form-control{
  width: 300px;
}

.state-container-dropdown {
  position: absolute;
  z-index: 1;
  padding: 10px;
  overflow: hidden;
  width: 300px;
  height: 210px;

  border: 1px solid #dedede;
  border-radius: 3px;
  background: white;
}

#profile-pic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

#search-username{
  padding: 5px;
  cursor: pointer;
}

#search-username:hover{
  background: #ECF0F7;
}
