.container{
  background-color: white;
}

/* History conversations */
#conversations{
  width: 30%;
  height: 600px;
  float: left;
  border-right: 1px solid #dedede;
}

#your-conversations{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
}

#conversation-user{
  height: 100px;
  margin-right: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

#clicked-conversation-user{
  height: 100px;
  margin-right: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  border-radius: 10px;
  background-color: #ededed;
}

#profile-pictures{
  width: 70px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline;
}
#conversation-username{
  margin-left: 15px;
  display: inline;
}


/* Conversation Messages*/
#conversation{
  margin-left: 40%;
  margin-right: 20%;
  height: 600px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  position: relative;
}

#message-sent{
  float: right;
  display: inline-block;
  margin-right: 10px;
  margin-left: 60%;
  margin-bottom: 3px;
  padding: 8px 13px;
  border-radius: 50px;
  background-color: #2284FF;
  color: white;
}

#message-received{
  display: inline-block;
  margin-left: 10px;
  margin-right: 60%;
  margin-bottom: 3px;
  padding: 8px 13px;
  border-radius: 50px;
  background-color: #F1F0F0;
}

/* Write message */
#write{
  width: 100%;
  position: absolute;
  bottom: 0;
}

#input-message{
  height: 35px;
  width: 80%;
  padding: 10px;
  margin-left: 3%;
  margin-bottom: 5px;

  background: #f2f2f2;
  float: left;
  border: none;
  border-radius: 50px;
}

::placeholder{
  color: #797979;
}

textarea:focus, input:focus{
  outline: none;
}

#send{
  float: right;
}

#welcome{
  text-align: center;
}
