.profile{
  width: 61%;
  margin: auto;
  padding: 30px 10px 10px;
}

.username{
  margin-top: -1%;
  color: gray;
  float: left;
}

.profile_pic{
  width: 17%;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: -8%;
  display: block;
}

.profile_pic:hover{
  opacity: 60%;
}

.message{
  background-color: dimgray;
  color: white;
}

.btn-light{
  margin-left: 10px;
}

.infos{
  width: 20%;
  margin-top: 1%;
  margin-left: 20%;
  padding: 10px;
  border-radius: 5px;
  border: #c9c9c9 1px solid;
}

input{
  border-radius: 3px;
  border: #c9c9c9 1px solid;
}

.edit-field{
  margin-bottom: 5px;
}

.edit-span{
  margin-top: 3px;
}

span{
  float: left;
  margin-right: 5px;
}

@media only screen and (max-width: 1300px) {
  .profile{
    width: 70%;
  }

  .profile_pic{
    width: 30%;
    margin-left: 65%;
    margin-top: -15%;
  }


  .infos{
    width: 30%;
    margin-left: 16%;
  }
}

@media only screen and (max-width: 600px) and (min-width:401px){
  .profile{
    width: 84%;
  }

  .profile_pic{
    width: 5%;
    border-radius: 50%;
    margin-left: -55%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .profile_pic:hover{
    width: 40%;
    border-radius: 50%;
    margin-left: -55%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .infos{
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .profile{
    width: 80%;
  }

  .profile_pic{
    width: 40%;
    border-radius: 50%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .infos{
    width: 80%;
    margin: auto;
  }
}
